.proj__head{
    margin-top:20%;
    font-family: "montserrat";
    font-size:60px;
    text-align:center;    
}
.projects{
    display: flex;
    flex-direction:column;
    justify-content: center;
}
.project {
    height:40vh;
    width:70%;
    margin-right:15%;
    margin-left:15%;
    display: flex;
    flex-direction:row;
    justify-content: center;
}
.project img{
    width: 40%;
    height: 250px;
}
.project__head {
    display: flex;
    flex-direction:column;
    align-items: center;
    width: 60%;
}
.project__head h1{
    margin-top: 5%;
    font-size:30px;
}