
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.navbar
{
    object-fit: cover;

}
.container
{
    display: flexbox;
    justify-content: flex-start;
    height: 300px;
    width: 100px;
    margin-top: -40vh;
    flex-direction: column;
    background-color: blue;
    border-bottom-right-radius: 40px;
    border-top-right-radius: 40px;

}
.btn {
	
	background-color:#0a3d62;

    font-family: "montserrat";
	display:inline-block;
	cursor:pointer;
    color:#ffffff;
    border: none;
	font-size:15px;
	padding:9px 23px;
    text-decoration:none;
    height: 100px;
    width: 100px;
	
}
.btn:hover {

	background-color:#0688fa;
}
.btn:active {
	position:relative;
	top:1px;
}
.extra1
{
    border-top-right-radius: 40px;
}

.extra2
{
    
    border-bottom-right-radius: 40px;
}
    

   