@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.navbar {
  object-fit: cover;
}
.container {
  position: fixed;
  display: flex;
  justify-content: flex-start;
  height: 300px;
  width: 100px;
  margin-top: 20vh;
  flex-direction: column;
  background: none;
  border-bottom-right-radius: 40px;
  border-top-right-radius: 40px;
}
.btn {
  background: none;
  border: 2px solid grey;
  font-family: 'montserrat';
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-size: 15px;
  padding: 9px 23px;
  text-decoration: none;
  height: 100px;
  width: 100px;
}
.btn:hover {
  background-color: white;
  color: black;
}
.btn:active {
  position: relative;
  top: 1px;
}
.extra1 {
  border-top-right-radius: 40px;
}

.extra2 {
  border-bottom-right-radius: 40px;
}
.container a{
    text-decoration:none;
    color: inherit;
}
